{{!< email}}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
            {{#page}}
            <p style="margin: 0;">
                {{content}}
            </p>
            {{/page}}
            </p>
        </td>
    </tr>
</table>